<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
    <%if((0.1+0.2)==0.3){%>
    <div>是对的</div>
    <%}else{%>
     <div>是错的</div>
    <%}%>
  </body>
</html>
